<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.github.mtsd.xcode-archives-cleaner</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
	<string>/Users/kosuke-matsuda/.launchd/com.github.mtsd.xcode-archives-cleaner.sh</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Day</key>
        <integer>1</integer>
        <key>Hour</key>
        <integer>3</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <!-- 標準出力・エラー出力をファイルにリダイレクト（オプション） -->
    <key>StandardOutPath</key>
    <string>/tmp/xcodearchivecleaner.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/xcodearchivecleaner.err</string>

    <!-- スクリプト実行時の環境変数を設定（オプション） -->
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>

    <!-- ログイン時にも有効にする -->
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
